#rcorners_table_top {
    border-radius: 25px;
    background: #3399Ff;
    padding: 2px;
    width: 100%; 
}

#rcorners_table_latest {
    background: #C2185B;
    width: 70%;
    height: 40%;
    margin-left:auto;
    margin-right:auto;
}

#rcorners_latest_head {
    background: #C2185B;
	font-size: 1.8em;
	color: #FFFFFF;
    padding: 10px;
	font-family: "Arial";
    margin-left:auto;
    margin-right:auto;
    width:15.19%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#rcorners_img{
	box-shadow: 0 14px 28px rgba(0,0,0,0.7), 0 10px 10px rgba(0,0,0,0.22);
}

#rcorners_search {
	border-radius: 10px;
	border: none;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset;
	transition: all 0.2s linear;
	font-family: "Helvetica Neue", sans-serif;
	font-size: 13px;
	color: #222222;
	position: relative;
	height: 30px;
	width: 300px;
	padding-left: 8px; 
	vertical-align: right;  
}

#rcorners_button {
    border-radius: 25px;
    background: #FFFFFF;
    padding: 3px;
    width: 70px;
	border: none;
}

table.top{
	background-color: #3399Ff;
	text-align: left;
	font-size: 1.2em;
	font-family: "Arial";
	color: #FFFFFF;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

table.latest{
	background-color: #3399Ff;
	text-align: left;
	font-size: 1.6em;
	font-family: "Arial";
	color: #FFFFFF;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.right{
	float: right;
	vertical-align: right;

}

.center{
	text-align: center;
}

h6{
	color: #3399Ff;
	text-transform: uppercase;
	font-style: bold;
	font-size: 3em;
    padding-top: 100px;
	font-family: "Arial";
	text-align: center;
}

a{
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	color: #C2185B;
}

.image:hover{
	height:240px;
	width:90%;

}

body {
    background-color: #EDEDED;
}